html,body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif ;
}

.w3-sidenav a,.w3-sidenav h4 {
	font-weight: bold;
}

.jumbotron{
	background-image: url(../images/101.jpg);
	max-width:100%; 
	width: 100%;
	position: relative;
	height: 945px;
	opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom: 0%;
}

.movedownicon{
	font-size: 5em;
	position: relative;
	left: 40%;
}

.container{
    padding: 5%;
}

.heading{
	font-size: 3em;
	text-align: center;
	padding: 3%;
}

.cardset1{
	width: 100%;
	height: 500px;
	margin: auto;
	margin-top: 15%;
}

.cardset2{
	width: 100%;
	height: 125px;
	margin: auto;
	margin-top: 15%;
}

.cardset3{
	width: 50%;
	height: 200px;
}

.img1{
   opacity: 0.6;
   padding: 4%;
   width: 100%;
}

.eventpic{
	width: 100%;
	height: 300px;
	margin: auto;
	margin-top: 5%;
	background-image: url(../images/2.png);
	background-position: center;
}

#speventpic{
	background-image: url(../images/102.jpg);
	margin-top: 2%;	
}

.eventtext{
	width: 100%;
	height: 300px; 
	background: #FFFFFF; 
	opacity: 0; 
}

.eventpic:hover .eventtext{
	opacity:0.6; 
	text-align:justify; 
	color:#000000; 
	font-size:20px; 
	font-weight:700; 
	font-family:"Times New Roman", Times, serif; 
	padding:30px;
	overflow: hidden;
	font-size: large;
}

#map{
	width: 100%;
	height: 500px;
	margin-top: 3%;
}

.contacticons{
	margin-top: 15%;
}
